<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/stylesheets/HomePage.css" rel="stylesheet">
</head>
<body>
<div class="blog_container">
<div class="header-container">
    <h1 class="logo"></h1>
    <div class="search_form">
        <div class="searchImg"></div>
        <input type="text" id="search_query" class="search_nonactive" placeholder="搜索 Tumblr" autocomplete="off" required="required">
    </div>
    <a class="compose-button"></a>
    <div class="tab_container">
        <div class="tab_bar">
            <a class="tab_anchor" style="background-image: url('images/Tumblr_icon1.png')"></a>
            <a class="tab_anchor" style="background-image: url('images/Tumblr_icon2.png')"></a>
            <a class="tab_anchor" style="background-image: url('images/Tumblr_icon3.png')"></a>
            <a class="tab_anchor" style="background-image: url('images/Tumblr_icon4.png')"></a>
            <a class="tab_anchor" style="background-image: url('images/Tumblr_icon5.png')"></a>
            <a class="tab_anchor" style="background-image: url('images/Tumblr_icon6.png')"></a>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="main-content">
           <div class="left_column">
               <ol class="posts">
                    <li class="post_container">
                        <div class="post_full">
                            <div class="iconContainer">
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img1.png)"></div>
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img2.png)"></div>
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img3.png)"></div>
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img4.png)"></div>
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img5.png)"></div>
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img6.png)"></div>
                                <div class="text" style="background-image: url(images/Tumblr_post_type_img7.png)"></div>
                                <div class="textContainer">
                                    <span>文字</span>
                                    <span>图片</span>
                                    <span>引用</span>
                                    <span>链接</span>
                                    <span>对话</span>
                                    <span>音频</span>
                                    <span>视频</span>
                                </div>
                            </div>
                            <div class="post_avator"></div>
                        </div>
                    </li>
                    <li class="post_container">
                        <div class="post_wrapper_container">
                            <div class="post_avator"></div>
                            <div class="post_wrapper">
                                <div class="post_header">
                                    <div class="post_info_recommended">请看这个博客：
                                        <a class="post_info_link">darkermoonnow</a>
                                    </div>
                                    <div class="post_action_wrapper">
                                        <div class="discover_button"></div>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <a class="post_media_photo">
                                        <video src="video/videoSamsung.mp4" type="video/mp4" controls="controls" loop="loop"></video>
                                    </a>
                                </div>
                                <div class="post_footer">
                                    <span class="note_link_current">330,331 热度</span>
                                    <span class="post_img" style="background-image: url('images/Tumblr_post_img1.png')"></span>
                                    <span class="post_img" style="background-image: url('images/Tumblr_post_img2.png')"></span>
                                    <span class="post_img" style="background-image: url('images/Tumblr_post_img3.png')"></span>
                                </div>
                            </div>
                        </div>
                    </li>

                   <li class="post_container">
                       <div class="post_wrapper_container">
                           <div class="post_avator"></div>
                           <div class="post_wrapper">
                               <div class="post_header">
                                   <div class="post_info_recommended">请看这个博客：
                                       <a class="post_info_link">darkermoonnow</a>
                                   </div>
                                   <div class="post_action_wrapper">
                                       <div class="discover_button"></div>
                                   </div>
                               </div>
                               <div class="post_content">
                                   <a class="post_media_photo">
                                       <!--<img src="images/Tumblr_media_photo1.jpg">-->
                                       <video src="video/electronic_song.mp4" type="video/mp4" controls="controls" loop="loop"></video>
                                   </a>
                               </div>
                               <div class="post_footer">
                                   <span class="note_link_current">330,331 热度</span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img1.png')"></span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img2.png')"></span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img3.png')"></span>
                               </div>
                           </div>
                       </div>
                   </li>

                   <li class="post_container">
                       <div class="post_wrapper_container">
                           <div class="post_avator"></div>
                           <div class="post_wrapper">
                               <div class="post_header">
                                   <div class="post_info_recommended">请看这个博客：
                                       <a class="post_info_link">darkermoonnow</a>
                                   </div>
                                   <div class="post_action_wrapper">
                                       <div class="discover_button"></div>
                                   </div>
                               </div>
                               <div class="post_content">
                                   <a class="post_media_photo">
                                       <img src="images/Tumblr_media_photo1.jpg">
                                   </a>
                               </div>
                               <div class="post_footer">
                                   <span class="note_link_current">330,331 热度</span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img1.png')"></span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img2.png')"></span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img3.png')"></span>
                               </div>
                           </div>
                       </div>
                   </li>

                   <li class="post_container">
                       <div class="post_wrapper_container">
                           <div class="post_avator"></div>
                           <div class="post_wrapper">
                               <div class="post_header">
                                   <div class="post_info_recommended">请看这个博客：
                                       <a class="post_info_link">darkermoonnow</a>
                                   </div>
                                   <div class="post_action_wrapper">
                                       <div class="discover_button"></div>
                                   </div>
                               </div>
                               <div class="post_content">
                                   <a class="post_media_photo">
                                       <img src="images/Tumblr_media_photo1.jpg">
                                   </a>
                               </div>
                               <div class="post_footer">
                                   <span class="note_link_current">330,331 热度</span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img1.png')"></span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img2.png')"></span>
                                   <span class="post_img" style="background-image: url('images/Tumblr_post_img3.png')"></span>
                               </div>
                           </div>
                       </div>
                   </li>
               </ol>
           </div>

           <div class="right_column">
                <li class="section_header">推荐的博客</li>
                <li class="item">
                    <a class="follow_list_item_blog">
                        <div class="hide_overflow">
                            <span class="log_title">
                                 maysamiii
                                <span>
                                    <br>
                                    <small class="log_name">  Be yourself, not someone else.  </small>
                                </span>
                            </span>
                        </div>
                        <div class="avatar" style="background-image: url('images/Tumblr_avator_img1.png')">
                        </div>
                    </a>
                    <a class="follow_button">
                        <img src="images/Tumblr_follow.png">
                    </a>
                </li>

               <li class="item">
                   <a class="follow_list_item_blog">
                       <div class="hide_overflow">
                            <span class="log_title">
                                  imaginura
                                <span>
                                    <br>
                                    <small class="log_name">   THE WORLD IS MY GARDEN   </small>
                                </span>
                            </span>
                       </div>
                       <div class="avatar" style="background-image: url('images/Tumblr_avator_img2.png')">
                       </div>
                   </a>
                   <a class="follow_button">
                       <img src="images/Tumblr_follow.png">
                   </a>
               </li>

               <li class="item">
                   <a class="follow_list_item_blog">
                       <div class="hide_overflow">
                            <span class="log_title">
                                 im-in-wonderland-15
                                <span>
                                    <br>
                                    <small class="log_name">   Will you take me to Wonderland?   </small>
                                </span>
                            </span>
                       </div>
                       <div class="avatar" style="background-image: url('images/Tumblr_avator_img3.png')">
                       </div>
                   </a>
                   <a class="follow_button">
                       <img src="images/Tumblr_follow.png">
                   </a>
               </li>

               <li class="item">
                   <a class="follow_list_item_blog">
                       <div class="hide_overflow">
                            <span class="log_title">
                                  pale---grunge
                                <span>
                                    <br>
                                    <small class="log_name">   it's (c)lit   </small>
                                </span>
                            </span>
                       </div>
                       <div class="avatar" style="background-image: url('images/Tumblr_avator_img4.png')">
                       </div>
                   </a>
                   <a class="follow_button">
                       <img src="images/Tumblr_follow.png">
                   </a>
               </li>

               <a class="sidebar_link">
                   深入探索 Tumblr
               </a>

               <ul class="controls_section_radar">
                    <li class="section_header">雷达</li>
               </ul>

               <div class="tumblr_radar">
                    <div class="radar_header">
                        <a class="radar_outter">
                            <div class="radar_log_avator" style="background-image: url('images/radar_post_img.png')"></div>
                            <div class="radar_label">
                                <div class="name">min-pin</div>
                                <div class="subheading">Tumblr 雷达</div>
                            </div>
                        </a>
                        <a class="follow_button">
                            <img src="images/Tumblr_follow.png">
                        </a>
                    </div>
                    <div class="radar_post">
                        <img src="images/radar_post_content_img.jpg">
                    </div>
                   <div class="radar_controls">
                       <span class="note_link_current">330,331 热度</span>
                       <span class="post_img" style="background-image: url('images/Tumblr_post_img2.png')"></span>
                       <span class="post_img" style="background-image: url('images/Tumblr_post_img3.png')"></span>
                   </div>
               </div>

           </div>
    </div>

</div>

<div id="popover">
    <div class="poptica_header">
        <div class="navigator">
            <span class="name">imaginura</span>
            <div class="header_control">
                <span class="user"></span>
                <button class="follow">关注</button>
            </div>
        </div>
        <div class="header_image_wrapper">
            <img src="images/Tumblr_user_background.gif">
        </div>
    </div>
    <div class="avatar_circle">
        <img src="images/Tumblr_user_avator.png">
    </div>
    <div class="info_wrapper">
        <h1>THE WORLD IS MY GARDEN</h1>
    </div>
    <div class="description_inner">
        Mas como é que pode? Pequena desse tanto e cheia de amor. Um dia desses ela transborda e inunda a cidade inteira...
        Vitória 19 Brasil
    </div>
    <div class="recent_posts">
        <img src="images/Tumblr_recent_image1.jpg">
        <img src="images/Tumblr_recent_image2.jpg">
        <img src="images/Tumblr_recent_image3.jpg">
    </div>
</div>
<!--<div style="overflow: hidden;">-->
    <div id="auto_pagination_loader">
        <div class="loading-container">
            <div class="Knight-Rider-bar"></div>
            <div class="Knight-Rider-bar"></div>
            <div class="Knight-Rider-bar"></div>
        </div>
    </div>
<!--</div>-->

<div id="load_container">
    <span>加载中……</span>
    <div class="load_bar">
        <div class="bar white animating" style="z-index: 0"></div>
        <div class="bar red animating" style="z-index: 1"></div>
        <div class="bar orange animating" style="z-index: 2"></div>
        <div class="bar purple animating" style="z-index: 3"></div>
        <div class="bar green  animating" style="z-index: 4"></div>
    </div>
</div>
<div id="hiddenPost" style="display: none;"><%=post%></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/require.js" data-main="/javascripts/main_homepage"></script>
</body>
</html>

<!--
    我们规定每一页有个li.post_container 有4个。 --每次加载4个
-->