<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="/stylesheets/Tumblr.css" rel="stylesheet">
</head>
<body>
<div class="outerContainer">
    <div class="innerContainer">
        <div class="section">
            <div class="firstPage">
                <div class="form_container noshow">
                    <div class="form_header">
                        <h1 class="logo-word-large">
                            <a class="logo_anchor" href="/"></a>
                        </h1>
                    </div>
                    <div class="login_form">

                        <div class="inputField">
                            <button style="background: rgb(255,255,255)">
                                <input type="text" placeholder="电子邮件" data-required="required" class="email">
                            </button>

                            <button style="background: rgb(255,255,255);" class="nextEmail" readonly="readonly">
                                <input type="text" class="email" placeholder="电子邮件" data-required="required" readonly="readonly">
                            </button>

                            <button id="password" style="background: rgb(255,255,255);" class="password">
                                <input type="text" placeholder="密码" data-required="required" class="email">
                            </button>
                        </div>

                        <button  class="hideValidate" style="background: rgba(0,0,0,0.33);">
                            <span style="font-size: 14px;"> 电子邮件地址无效。请重试。 </span>
                        </button>

                        <button class="hidePasswordValidate" style="background: rgba(0,0,0,0.33);">
                            <span style="font-size: 14px;"> 密码错误。请重试。 </span>
                        </button>

                        <button class="move">
                            <span>下一步</span>
                        </button>

                        <a class="explore" href="#">
                               <span class="explore_icon">

                               </span>
                            这是目前的热门内容
                        </a>

                    </div>

                </div>
                <div class="fullscreen_footer">
                    <div class="footer_link">
                        <a class="longin_link">条款</a>
                        <a class="longin_link">隐私</a>
                        <a class="longin_link">工作机会</a>
                        <a class="longin_link">技术支持</a>
                    </div>
                    <div class="footer_author">由 <strong>founder</strong> 发布
                        <a></a>
                    </div>

                </div>
            </div>
            <div class="firstPage_footer"> Tumblr 是什么？</div>
        </div>



        <div class="section ">
            <div class="word-wrapper">
                <div class="ball">
                    <canvas width="1000" height="200"></canvas>
                    <div class="innerCircle"></div>
                </div>
                <div class="section-content">
                    <h1 class="section-title">Tumblr 用起来真是简单到难以解释。</h1>
                    <p>我们让创建博客和随心所欲发布内容的过程变得真的非常非常简单。故事、图片、GIF 动图、电视剧、链接、俏皮话、冷笑话、不冷的笑话、Spotify 的曲目、MP3、视频、时尚、艺术，以及有深度的内容。Tumblr 是 291 百万 不同的博客，实实在在地涵盖了所有内容。</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-wrapper">
                <div class="section-content">
                    <h1 class="section-title">Tumblr 就是众多博客。</h1>
                    <p>原来，当创造有趣的东西变成一件轻松的事，人们就会尽情创作。你的朋友发给你的所有那些精彩而多样的博客，都是 Tumblr 博客。我们会帮助你寻找并关注这样的博客，也会帮助其他人发现并关注你的博客。</p>
                </div>
                <div class="blogs-post-column">
                    <div class="blogs-post">
                        <div class="post-top">
                            <div class="ui-avatar" style="background-image: url('images/Tumblr_blog_poster1.png')"></div>
                            <a class="ui-username">cschoonover</a>
                        </div>
                        <img class="post-image" src="images/Tumblr_blog_image1.jpg">
                        <div class="post-bottom">
                            <div class="ui-notes">787 notes</div>
                            <div class="post_controls">
                                <div class="share" style="background-image: url('images/share1.png')"></div><div class="share" style="background-image: url('images/share2.png')"></div><div class="share" style="background-image: url('images/share3.png')"></div>
                            </div>
                        </div>
                    </div>

                    <div class="blogs-post">
                        <div class="post-top">
                            <div class="ui-avatar" style="background-image: url('images/Tumblr_blog_poster6.png')"></div>
                            <a class="ui-username">i-donline</a>
                        </div>
                        <img class="post-image" src="images/Tumblr_blog_image6.jpg">
                        <div class="post-bottom">
                            <div class="ui-notes">787 notes</div>
                            <div class="post_controls">
                                <div class="share" style="background-image: url('images/share1.png')"></div><div class="share" style="background-image: url('images/share2.png')"></div><div class="share" style="background-image: url('images/share3.png')"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="blogs-post-column">
                    <div class="blogs-post">
                        <div class="post-top">
                            <div class="ui-avatar" style="background-image: url('images/Tumblr_blog_poster2.png')"></div>
                            <a class="ui-username">breaisbees</a>
                        </div>
                        <img class="post-image" src="images/Tumblr_blog_image2.gif">
                        <div class="post-bottom">
                            <div class="ui-notes">787 notes</div>
                            <div class="post_controls">
                                <div class="share" style="background-image: url('images/share1.png')"></div><div class="share" style="background-image: url('images/share2.png')"></div><div class="share" style="background-image: url('images/share3.png')"></div>
                            </div>
                        </div>
                    </div>

                    <div class="blogs-post">
                        <div class="post-top">
                            <div class="ui-avatar"  style="background-image: url('images/Tumblr_blog_poster3.png')"></div>
                            <a class="ui-username">johnny8bit</a>
                        </div>
                        <img class="post-image" src="images/Tumblr_blog_image3.gif">
                        <div class="post-bottom">
                            <div class="ui-notes">787 notes</div>
                            <div class="post_controls">
                                <div class="share" style="background-image: url('images/share1.png')"></div><div class="share" style="background-image: url('images/share2.png')"></div><div class="share" style="background-image: url('images/share3.png')"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blogs-post-column">
                    <div class="blogs-post">
                        <div class="post-top">
                            <div class="ui-avatar" style="background-image: url('images/Tumblr_blog_poster4.png')"></div>
                            <a class="ui-username">kotutohum</a>
                        </div>
                        <img class="post-image" src="images/Tumblr_blog_image4.gif">
                        <div class="post-bottom">
                            <div class="ui-notes">787 notes</div>
                            <div class="post_controls">
                                <div class="share" style="background-image: url('images/share1.png')"></div><div class="share" style="background-image: url('images/share2.png')"></div><div class="share" style="background-image: url('images/share3.png')"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blogs-post-column">
                    <div class="blogs-post">
                        <div class="post-top">
                            <div class="ui-avatar" style="background-image: url('images/Tumblr_blog_poster5.png')"></div>
                            <a class="ui-username">partywitch</a>
                        </div>
                        <img class="post-image" src="images/Tumblr_blog_image5.jpg">
                        <div class="post-bottom">
                            <div class="ui-notes">787 notes</div>
                            <div class="post_controls">
                                <div class="share" style="background-image: url('images/share1.png')"></div><div class="share" style="background-image: url('images/share2.png')"></div><div class="share" style="background-image: url('images/share3.png')"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section">
            <div class="section-content">
                <div class="dashboard-content">
                    <h1 class="section-title">你已经知道它如何运作了。</h1>
                    <p>一旦你关注了某个博客，正如你所希望的，它发的帖子都会显示在你的首页上。看到什么好帖子了吗？把它转发到自己的博客上。愿意的话可以加上评论。让它成为属于你自己的帖子。其他人也会对你的帖子这样做。我们在这里就是这样互相认识的。</p>
                </div>
            </div>
            <div class="dashboard-graphic">
                <div class="post_container moveUp">
                    <img src="images/function_image.png">
                    <div class="post_avatar">
                        <img src="images/post_avatar1.png">
                    </div>
                </div>
                <div class="post-top-wrapper moveUp">
                    <div class="post_avatar">
                        <img src="images/post_avatar2.png">
                    </div>
                    <div class="post-header">
                        <div class="post_info">
                            <span>jonny</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <img src="images/post-image1.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-wrapper">
                <div class="create-graphic">
                    <div class="text-icon"><img src="images/text-icon1.png"><span>文字</span></div><div class="text-icon"><img src="images/text-icon2.png"><span>图片</span></div><div class="text-icon"><img src="images/text-icon3.png"><span>引用</span></div><div class="text-icon"><img src="images/text-icon4.png"><span>链接</span></div><div class="text-icon"><img src="images/text-icon5.png"><span>对话</span></div><div class="text-icon"><img src="images/text-icon6.png"><span>音频</span></div><div class="text-icon"><img src="images/text-icon7.png"><span>视频</span></div>
                </div>
                <div class="section-content">
                    <h1 class="section-title">
                        说真的，把你想放的任何东西放在这里。
                    </h1>
                    <p>有七种帖子类型供你选择。你可以随心所欲。你的地盘你做主。</p>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="form_container_last">
                <div class="form_header">
                    <h1 class="section-title">好吧，这个不难解释。</h1>
                    <p class="subheading">骗你的啦，但你现在已经了解了 Tumblr，那就加入吧。</p>
                </div>
                <div class="login_form">
                    <button style="background: rgb(255,255,255)">
                        <input type="email" placeholder="电子邮件" data-required="required" class="email">
                    </button>

                    <button>
                        <span>下一步</span>
                    </button>

                    <a class="explore" href="#">
                               <span class="explore_icon">

                               </span>
                        这是目前的热门内容
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="left">
        <img src="images/Tumblr_T.png">
        <div class="search_form">
            <div class="searchImg"></div>
            <input type="text" id="search_query" class="search_nonactive" placeholder="搜索 Tumblr" autocomplete="off" required="required">
        </div>
    </div>
    <div class="right">
        <a class="login" style="margin-right: 0px;width: 0px;padding: 0px">登录</a>
        <a class="signup">注册</a>
    </div>
</div>
<div class="nav">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>
<script src="/javascripts/require.js" data-main="/javascripts/main_login.js"></script>
</body>
</html>